*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.full_contant
{
    background-image: url(img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.text
{
    padding-top: 70px;
    padding-left: 650px;
    padding-right: 50px;
}
h1{
    padding-left: 60px;
    font-size: 50px;
    padding-bottom: 10px;
}
button
{
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
button:hover
{
    background-color: rgb(237, 237, 245);
    color: black;
}
.card
{
    display: flex;
    margin-left: 600px;
    margin-top: 20px;
    gap: 3.5rem;
}
.location
{
   
    width: 150px;
    height: 70px;
    background-color:rgb(16, 210, 236);
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
    color:rgb(19, 13, 9);
}
#contact
{
    width: 170px;
    height: 70px;
    background-color: rgb(16, 210, 236);
    border-radius: 20px;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 20px;
    color:rgb(19, 13, 9);
}